#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects-list {
  display: grid;
  height: 100%;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.project-category {
  margin-top: 1rem;
}

.category-title {
  font-family: "Bitter", Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: var(--main-accent-color);
}

.intro-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  margin-bottom: 10vh;
  font-family: "Bitter", Georgia, 'Times New Roman', Times, serif;
}

.intro-text-container h1 {
  padding: 1rem 0;
}

.intro-text-container p {
  font-size: 24px;
}

.underline {
  border-bottom: 0.12em solid var(--text-accent-color);
}

#see-work-wrapper {
  text-decoration: none;
  position: absolute;
  color: var(--text-accent-color);
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  font-weight: bold;
  top: 80vh;
  margin: auto;
  align-self: center;
}

@media screen and (max-width: 65rem) {
  #homepage {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .projects-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .projects {
    padding: 0 2rem;
  }
}